body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #39289f;
}

#second-screen-background{
    background: linear-gradient(180deg, rgba(34,17,231,1) 0%, rgba(56,56,55,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

\\* Fontes utilizadas no figma .poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.strong-yellow {
  color: #fa8305;
  text-shadow: 1px 1px 1px black;
  font-size: 25px !important;
}
.section-standard {
  color: #fff;
  padding: 1rem 2rem;
  height: 100vh;
}
.more-details {
  margin-top: 2rem;
  background-color: #fa8305;
  color: #fff;
  border-radius: 2rem;
  border: 0;
  height: 3rem;
  width: 12rem;
  font-size: medium;
  cursor: pointer;

} .more-details:hover{
        color: #fa8305;
        background-color: #fff;
}
.introduction {
  width: 26vw;
  margin-left: 10rem;
  margin-top: 20vh;

  h1 {
    width: 24vw;
    font-size: 60px;
    margin: 0;
  }
  p {
    font-size: 18px;
  }
}
div.welcome-art {
  right: 0;
  top: 0;
  position: absolute;

  img {
    width: 50vw;
    height: 90vh;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
  margin-top: 2rem;
}
.logo img {
  height: 2rem;
  vertical-align: middle;
}
.welcome nav {
  gap: 3rem;
  display: flex;
  text-align: right;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .contact-us {
    background-color: #fa8305;
    border-radius: 1rem;
  }
  
}
.welcome nav a {
    font-size: 20px;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
}
.welcome nav a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fa8305;
    border-radius: 5px;
}
.welcome nav a.contact-us:hover{
    color: #fa8305;
    background-color: #fff;
}
.welcome nav a.contact-us:hover::after {
    content: none;
}
.trending-games {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 14rem;
  justify-content: center;
}
.apresentacion-game-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  margin-bottom: 2rem;
}
.row-game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 6rem;
}
.card-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.see-all-btn {
  height: 3rem;
  width: 8rem;
  border-radius: 6px;
  border: none;
  background-color: #ffffff60;
  font-size: 18px;
  color: white;
  cursor: pointer;
} .see-all-btn:hover{
        color: #fa8305;
        background-color: #fff;
}

#row-game-subtitle {
  font-size: larger;
  margin: 0 25rem;
  text-align: center;
}

#spiderman {
  display: flex;
  height: 80vh !important;
  flex-direction: column;

  #aling-content-spiderman {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    #spiderman-imgs-grp {
      display: flex;
      justify-content: flex-end;

      #yellow-circle {
        position: absolute;
        margin-right: 4rem;
      }

      #spiderman-img {
        position: relative;
        margin-top: 3rem;
        border-radius: 10px;
      }
    }
  }
}
#text-spiderman {
  margin-left: 6rem;
  width: 50%;

  #title-spiderman {
    font-size: xx-large;
  }
}

#categories-section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/backgroundScenarioLandscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh !important;

  #categories-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    h2 {
      font-size: xx-large;
      width: 46vw;
      text-align: center;
    }
    p {
      text-align: center;
      width: 45vw;
    }
  }

  #icons-group {
    display: flex;
    gap: 2rem;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      width: 12vw;

      .background-icon {
        display: flex;
        height: 4rem;
        width: 4rem;
        background-color: white;
        border-radius: 3rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

#recent-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4rem;
    justify-content: center;

    #text-projects{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;

        h2{
            font-size: xx-large;
        }
    }

    .imgs-projects{
        height: 200px;
    }

    #group-rows-images{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-direction: column;

        .row-images{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            gap: 2rem;
            width: 100%;
            justify-content: flex-start;
        }
    }

}
.aling-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 60vw;
}

#newsletter{
    display: flex;
    justify-content: center;
    height: 60vh;

    #description-newsletter{
        width: 100%;
    }

    #newsletter-box{
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #1C140F;
        padding: 3rem;
        border-radius: 15px;
        width: 92%;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2rem;

        #newsletter-label{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            #user-email{
                padding: 15px 10px;
                width: 18rem;
                border-radius: 8px;
                border: none;
            }
            #newsletter-btn{
                padding: 10px 16px;
                border-radius: 8px;
                border: none;
                position: absolute;
                margin-right: 6px;
                color: white;
                background-color: #DC7000;
            }
            #newsletter-btn:disabled {
                background-color: #ccc;
                color: #666;
                cursor: not-allowed;
              }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #070707;
    
    #footer-information{
        display: flex;
        flex-direction: row;
        margin: 3rem 10rem;
        justify-content: space-between; 
        flex-wrap: wrap;
        row-gap: 2rem;

        #information-1{
            display: flex;
            flex-direction: column;
            width: 30%;
        }
        #information-2{
            width: 12%;
            display: flex;
            flex-direction: column;
            margin-bottom: 2%;
            justify-content: space-between;

            a{
                text-decoration: none;
                color: #fff;
            }
        }
        #information-3{
            display: flex;
            width: 28%;
            flex-direction: column;
        }
        #information-icons{
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            gap: 1rem;

            
        }
    }
}

    .icon-background{
        background-color: white;
        padding: 0.8rem;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .footer-icons{
            height: 1rem;
        }
    }

    #copyright-row{
        display: flex;
        height: 10vh;
        justify-content: center;
        align-items: center;
        border-top: 2px solid #D2D2D2;
    }

    .hover-effect:hover {
        transform: scale(1.1);
      }

      @media (max-width: 1750px){
        .introduction{
            margin-top: 15vh;

            .strong-yellow{
                font-size: 14px;
            }
            h1{
                font-size: 40px;
            }
            p{
                font-size: none;
            }
        }

        #row-game-subtitle{
            margin: 0rem;
        }

        #spiderman{
            margin-bottom: 30vh;
        }

        #categories-section{
            gap: 0rem;
            h2{
                font-size: larger;
            }
        }
      }

/* Segunda Pagina */

#map-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: #fff;
    padding: 1rem 2rem;

    #aling-center-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    #group-description-img{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    #description-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        #strong-router{
            color: #fa8305;
        }
    }
    #img-map{
        display: flex;
        justify-content: center;
    }
    #row-bottom-map{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80vw;

        .divider{
            width: 2px;
            height: 6rem;
            background-color: white;
        }

        #followus-div{
            display: flex;
            flex-direction: column;

        }
        .followus-div-bottom{
            display: flex;
            gap: 1rem;

            .background-black{
                background-color:#1C140F !important;
                box-shadow: #070707;

            }
        }
    }
}


#contact-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: #fff;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #1C140F;
    background-image: url(./assets/contact\ us/background/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* #contact-background{
        display: flex;
    } */

    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 40vw;

        #contact-description{
            display: flex;
            flex-direction: column;
            text-align: center;

            h1{
                margin: 0;
            }
        }

        form#contact-form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            div.form-group{
                display: flex;
                gap: 1rem;
                justify-content: space-between;

                div.input-wrapper{
                    display: flex;
                    flex-direction: column;
                    font-size: small;
                    color: #D2D2D2;
                    width: 100%;
                    gap: 4px;

                    .form-control{
                        padding: 8px;
                        border-radius: 6px;
                        border: 2px solid #CECECE;
                        background-color: #fff5;
                    }

                    textarea{
                        height: 10vh;
                    }
                }
            }

            #btn-form-group{
                display: flex;
                margin-top: 2rem;
                flex-direction: row-reverse;

                button{
                    background-color: #fa8305;
                    color: white;
                    border: none;
                    padding: 12px 32px;
                    font-size: smaller;
                    border-radius: 8px;
                    cursor: pointer;
                }
                button:disabled {
                    background-color: #ccc;
                    color: #666;
                    cursor: not-allowed;
                  }
            }
        }
    }
}

#error-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 142vh;

    #error-section{
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        justify-content: flex-start;
        gap: 20vh;
    
        #error-content{
            display: flex;
            justify-content: center;
            gap: 4rem;
            align-items: center;
            margin: 0 14vw;
            color: white;
    
            #error-description{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                h1{
                    font-size: xx-large;
                }
                p{
                    margin-bottom: 2rem;
                    margin-top: 0;
                    font-size: large;
                }
                button{
                    background-color: #fa8305;
                    color: white;
                    border: none;
                    padding: 12px 32px;
                    font-size: small;
                    border-radius: 8px;
                    cursor: pointer;
                }button:hover{
                    color: #fa8305;
                    background-color: #fff;
                }
            }
    
            #error-img{
                img{
                    height: 40vh;
                }
            }
        }
    }
}

